<div class="w-full max-w-md rounded-xl bg-smoke-800 p-10 shadow-2xl shadow-smoke-950/50 backdrop-blur-sm border border-smoke-700">
    <h1 class="heading-2 mb-2 text-center">Mot de passe oublié</h1>
    <p class="body-sm mb-6 text-center">Recevez un lien de réinitialisation par email</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
            <ui-input
                    inputId="email"
                    type="email"
                    label="Email"
                    placeholder="Entrez votre email"
                    [control]="forgotPasswordForm.controls.email"
                    required
            />
        </div>

        <ui-button
                type="submit"
                variant="primary"
                fullWidth
                [loading]="authStore.resetPassword.loading()"
                [disabled]="authStore.resetPassword.loading()"
        >
            Envoyer le lien
        </ui-button>
    </form>

    <div class="mt-6 text-center">
        <p class="body-sm">
            Vous vous souvenez de votre mot de passe ?
            <ui-button variant="link" size="sm" (clicked)="navigateToLogin()">
                Se connecter
            </ui-button>
        </p>
    </div>
</div>
